<!doctype html>
<html lang="en">
<head>
  <title>Module2Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head> 
  <body>
    <header id="site-header">
      <div class="container">
        <!--<h2>Module2Project</h2>-->
        <% if (user) { %>
            <!-- Logged in as <%= user.username %> -->
            <form method="post" action="/auth/logout">
              <button class = 'button-general'>Logout</button>
            </form>
            <a href="/venues/" class = 'button-general'><button>Venues List</button></a>
            <a href="/venues/my-venues" class = 'button-general'><button>My Venues</button></a>
          <% } else { %>
          <a href="/auth/signup" class = "signup-login">Signup</a>
          <a href="/auth/login" class = "signup-login">Login</a>
        <% } %>
      </div>
    </header>

   
    <div id="site-main" class="container">
      <%- body %>
    </div>
    <footer id="site-footer">
      <div class="container">
        <p>&copy; Fucking Module2Project -- 2018 Ironhack</p>
      </div>
    </footer>
  </body>
</html>
