  <body>
    
      
  <div class="container">  
    <div class="main-info background-list">

      <h3 class="title">Are you a Band??</h3>

      <a href="/venues/" class="btn btn-dark">Check the Venues List</a>
      
  </div>

  <div class="main-info background-list">

      <h3 class="title">Owner? Post your Venue!!</h3>

      <a href="/venues/my-venues" class="btn btn-dark">My Venues</a>
      
  </div>

</div>

</body>
