html {
  box-sizing: border-box; 
}

#site-header {
  display: flex;
  height: 10vh;
  flex-direction: row-reverse;
}

h1 {
  font-size: 2.5em;
}

.signup-login {
  padding: 1vw;
  font-size: 1.25em;
}

.button-general {
  margin: 1vw;
}

#site-main {
    display: flex;
    height: 75vh;
}

.container {
  display: flex;
  padding: 0;
  margin: 2vw;
}

#body {   
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  padding: 0;
  margin: 2vw;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body #site-footer

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
}

.field input {
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid black;
}


a {
  color: #00B7FF;
}

.venues-list {
  list-style-type: none;
}