<h2><%= title %></h2>

<div class = "interactive-list">
<% if (user) { %>
    <a href="/venues/new-venue"><button id = "create-venue-button">Create new</button></a>
<% } %>

<ul>
  <% if (Object.keys(venues).length !== 0) { %>
    <% venues.forEach( (theVenue) => { %>
      <li class="venues-list">
        <p class="item">
          <a class="name" href="/venues/<%= theVenue._id %>"><%= theVenue.name %></a>
          <span class="owner">owned by <%= theVenue.owner.username %></span>
        </p>
      </li>
    <% }); %>
  <% } else { %>
    <p>Please try again later, there are no available venues</p>
  <% }%>
</ul>
</div>