<h2>My Venues</h2>

    <ul>
            <% if (Object.keys(venue).length !== 0) { %>
                <% venue.forEach( (venue) => { %>
        <li class="venue-details">
            
            <a class="name" href="/venues/<%= venue._id %>"><%= venue.name %></a>
            
            <form action="">
                <div class="field control">
                    <button class="btn delete">delete</button>
                </div>
            </form>    
        </li>
        <% }); %>
        <% } else { %>
          <p>Please try again later, there are no available venues</p>
        <% }%>
    </ul>

