<h2>My Venues</h2>

<a href="/venues/new-venue"><button id = "create-venue-button">Create new</button></a>

<ul>
    <% if (Object.keys(venues).length !== 0) { %>
        <% venues.forEach( (venue) => { %>
            <li class="venue-details">
                <a class="name" href="/venues/<%= venue._id %>"><%= venue.name %></a>        
            </li>
        <% }); %>
    <% } else { %>
        <p>You haven't yet created a venue</p>
    <% }%>
</ul>

