<h2>Venue Details</h2>

<% if (Venue.owner._id === User._id) { %>
    <% venues.forEach( (theVenue) => { %>
<ul>
    <li class="venue-details">
        <p class="item">
            <%= name %>
        </p>

        <form action="">
            <div class="field control">
                <button class="btn edit">edit</button>
            </div>
        </form>

        <form action="">
            <div class="field control">
                <button class="btn delete">delete</button>
            </div>
        </form>    
    </li>
</ul>

    <% } %>
<% } else { %> 
    <p>Please try again later, there are no available venues</p> 
<% } %>