<h2>New Venue</h2>

<form id = "new-venue-form" action= "/venues/" method="POST" >
    <div class="field">
      <label for="name"> Name </label>
      <input type="text" name="name" id="name">
    </div>
    <div class="field">
        <label for="about"> About </label>
        <input type="text" name="about" id="about">
    </div>
    <div class="field">
        <label for="location"> Location </label>
        <input type="text" name="location" id="location">
    </div>
    <div class="field">
        <label for="size"> Size </label>
        <input type="text" name="size" id="size">
    </div>
    <div class="field control">
        <button class="btn submit">Save</button>
    </div>
    <a href ='/venues/' class = 'form-secondary-action'> <p>Go back to list</p></a>
</form>



