<form action= "/venues/new-venue" method="POST" >
    <div class="field">
      <label for="name"> Name </label>
      <input type="text" name="name" id="name">
    </div>
</form>

<a href ='venues/list'> <button>Go back to list</button></a>